@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 10px 5%;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}
.header .logo{
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.header .logo span{
    color: #F24E44;
  
}
.header ul {
    display: flex;
    
}

.header ul li{
    margin: 0px 20px;
    list-style: none;
}

.header ul li a{
    text-decoration: none;
    color: rgb(78, 75, 75);
    font-weight: 600;
}

.header ul li a:hover{
    text-decoration: none;
    color: rgb(78, 75, 75);
    font-weight: 600;
    border-bottom: 2px solid #F24E44 ;
}



.box_container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.box2 img{
    width: 600px;
    height: 500px;
    object-fit: contain;
}

.box .main{
    font-size: 48px;
    font-weight: 800;
    font-style: italic;
    text-align: end;
}

.box .main span{
    color: #F24E44  ;
}

.box .main2{
    font-size: 42px;
    font-weight: 900;
    text-align: start;
}

.box .main2 span{
    color: #F24E44  ;
}

.box .main_content{
  color: gray;
  font-size: 16px;
  margin:20px 0px;

}

.btn{
    background-color: white;
    outline: none;
    border:1px solid #F24E44;
    padding:8px 20px;
    border-radius: 5px;
    color: #F24E44;
    margin: 20px 0px;
}

.btn:hover{
    background-color: #F24E44;
    outline: none;
    border:1px solid #F24E44;
    padding:8px 20px;
    border-radius: 5px;
    color: white;
}

